[submodule "PyExpLabSys"]
	path = PyExpLabSys
	url = https://github.com/CINF/PyExpLabSys.git
[submodule "iot"]
	path = iot
	url = git@github.com:DaveBerkeley/iot.git
[submodule "hm305_ctrl"]
	path = hm305_ctrl
	url = https://github.com/JackDoan/hm305_ctrl.git
